body {
  padding: 25px;
 font-family:cursive;
background-color:#e6b52e;
 display: inline-flex;
}

.jumbotron{
  text-align:center;
  background-color:#ff9933;
}
.jumbotron img{
   height:100px;
}

.image, img{
  max-width: 100%;
  height: auto;
  text-align:center;
  margin:10px;
}
